#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}


.user-name {
  padding: 15px 0;
  font-weight: bold;
  font-size: 2.1rem
}

.user-avatar {
  width: 200px;
  height: 200px;
}