#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}


.user-name {
  padding: 20px 0;
  font-weight: bold;
  font-size: 2.1rem;
  border-bottom: 5px solid black;
}

.user-avatar {
  cursor: pointer;
  width: 150px;
  height: 150px;
}

a {
  font-size: 1.5rem;
  display: inherit;
}

.repo-name {
  padding: 20px 0;
  font-weight: 300;
  font-size: 2.1rem;
  border-bottom: 5px solid black;
}